<div class="container-fluid" "span10">

  <div class="row">
  	<div class="span7">
      <%= link_to image_tag('6x4test.jpg') %>
    </div>

    <div class="span5">
      <h2>Welcome to givr!</h2>
      <ol>
        <li>
          Lipso bipsi textyu text Lipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu text Lipso bipsi textyu text Lipso bipsi textyu text
        </li>
        <li>
          Lipso bipsi textyu text Lipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu text Lipso bipsi textyu text Lipso bipsi textyu text
        </li>
        <li>
          Lipso bipsi textyu text Lipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu textLipso bipsi textyu text Lipso bipsi textyu text Lipso bipsi textyu text
        </li>
      </ol>
      <div class="center-align">
        <button class="btn"><%= link_to "Sign up with Facebook", "/auth/facebook" %></button>
      </div>
    </div>  
  </div>

  <div class="row">
    <h2 class="center-align">Our Charities</h2>
    <div class="span4">
      <h3 class="center-align">Charity 1</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="span4">
      <h3 class="center-align">Charity 2</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="span4">
      <h3 class="center-align">Charity 3</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>    
  </div>

  <div class="row">
    <h2 class="center-align">What people are saying about Givr</h2>
    <div class="span4">
      <h3 class="center-align">Testimonial 1</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="span4">
      <h3 class="center-align">Testimonial 2</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="span4">
      <h3 class="center-align">Testimonial 3</h3>
      <p>Cras dictum. Maecenas ut turpis. In vitae erat ac orci dignissim eleifend. Nunc quis justo. Sed vel ipsum in purus tincidunt pharetra. Sed pulvinar, felis id consectetuer malesuada, enim nisl mattis elit, a facilisis tortor nibh quis leo. Sed augue lacus, pretium vitae, molestie eget, rhoncus quis, elit. Donec in augue. Fusce orci wisi, ornare id, mollis vel, lacinia vel, massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>    
  </div>

  <div class="row center-align">
    <button class="btn"><%= link_to "Sign up with Facebook", "/auth/facebook" %></button>
  </div>

</div>