<legend>Select your charity</legend>
  <!-- <div class="row"> -->
   
  <!-- </div> -->
<!-- <div class="well"> -->
  <div class="row">

    <div class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
        </div>
      </div>
    </div>

    <div class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
        </div>
      </div>
    </div>

  </div>
<!-- </div> -->
  

  <!-- <div id="carousel-example-generic" class="carousel slide"> -->
  <!-- Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption">
        <h1>Name of Charity</h1>
        <p>Some text about this charity</p>
        <button type="button" class="btn btn-primary">Donate to this charity</button>
      </div>
    </div> -->
  <!--   
    <div class="item">
      <div class="carousel-caption">
        <h1>Name of Charity</h1>
        <p>Some text about this charity</p>
        <button type="button" class="btn btn-primary">Donate to this charity</button>
      </div>
    </div> -->

 <!--  </div> -->

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a> -->
<!-- </div> -->

