<div id="loading_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Loading Facebook data...</h4>
        <div class="text-center">
          <%= image_tag("ajax-loader.gif") %>
        </div>
      </div>
    </div>
  </div>
</div>
