<%= stylesheet_link_tag "profile", media: "all", "data-turbolinks-track" => true %>

<div class="navbar navbar-fixed-top navbar-inverse header-dash">
  <div class="container">
    <h1 class="navbar-brand pull-left title-dash">Givr</h1>
    <ul class="nav navbar-nav pull-right">
      <li class="navbar-text">Signed in as <%= current_user.name %></li>
      <li><button type="button" class="btn btn-default navbar-btn pull-right"><%= link_to "Sign Out", signout_path %></button></li>
    </ul>
  </div>
</div>

