<p class="hello">Hello <%= current_user.name %></p>

<div class="hero-unit">
	<p>Givr Blurb - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien.</p>
</div>

<%= render "activities/user_activities" %>

<%= render "users/edit" %>


<% if session[:new_user] %>
  <% session[:new_user] = nil %>
  <div id="loading_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Loading Facebook data...</h4>
          <div class="text-center">
            <%= image_tag("ajax-loader.gif") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="data_loading.js"></script>
<% end %>