#chart_area {
  font: 10px sans-serif;
  width: 100%;
  height: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: blue;
}

.x.axis path {
  display: none;
}