@media(min-width: 980px) {
  body {
    padding-top: 60px;
  } 
}

@media(max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}


body {
  background: black url(banner2.jpg) no-repeat fixed center top;
  background-attachment: fixed;
}

#container{
  width : 100%;
  background : #f1f1f1;
  margin-top : 330px;
  z-index : 100%;
  padding-top: 40px;
}

.hello{
  margin-left: 1%;
}

.center-align {
  text-align: center;
}

p {
  text-align: justify;
}

