@media(min-width: 980px) {
  body {
    padding-top: 70px;
  }
}

body {
  background: black url(background_logo-1a.jpg) no-repeat fixed center top;
  background-attachment: fixed;
  background-size:1280px;
}

#container{
  position : absolute;
  width : 100%;
  background : #f1f1f1;
  top : 330px;
  padding-left: 0;
  padding-right: 0;
}
#img-circle{

}


#row{
  margin : 40px 7% 40px 7%;
}

.hello{
  margin-left: 1%;
}

.center-align {
  text-align: center;
}

p {
  text-align: justify;
}

