<% content_for :activity_data do %>
  <%= javascript_include_tag "/assets/charts", "data-turbolinks-track" => true %>
<% end %>

<div class="well">
  <p>
    <span>Last 7 days</span>
    </br>
    <span>(<%= 7.days.ago.beginning_of_day.strftime("%a %d-%b-%Y") %> - <%= 1.day.ago.beginning_of_day.strftime("%a %d-%b-%Y") %>)</span>
  </p>
  <div id="chart_area"></div>
</div>
