<div class="well">
  <p>
    <span>This donation period </span>
  </br>
    </span>(<%= current_period_date_range(@user) %>)</span>
  </p>
  
  <ul class="nav">
    
    <% current_user.chargeable_activity_in_payment_period.each do |activity, count| %>
    
    <li class="active">
      <span>
        <%= activity.pluralize(count) %>
      </span>
      <span class="badge pull-right">
        <%= count %>
      </span>
    </li>
    
    <% end %>

  </ul>
</div>